<app-filtro (filtrosChange)="receberFiltros($event)"></app-filtro>
<div>
  <div class="row p-5">
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th>{{ dataManipulada.headers.data }}</th>
          <th>{{ dataManipulada.headers.hora }}</th>
          <th *ngFor="let psp of listaDePsps">{{ dataManipulada.headers[psp] }}</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let linha of dataManipulada.data">
          <td>{{ linha.Data }}</td>
          <td>{{ linha.Hora }}</td>
          <td *ngFor="let psp of listaDePsps">{{ linha[psp] }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>